<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-question-heading" jhiTranslate="qkulpApp.question.home.createOrEditLabel">Create or edit a Question</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qkulpApp.question.questionName" for="field_questionName">Question Name</label>
                    <input type="text" class="form-control" name="questionName" id="field_questionName"
                           formControlName="questionName"/>
                    <div *ngIf="editForm.get('questionName')!.invalid && (editForm.get('questionName')!.dirty || editForm.get('questionName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('questionName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('questionName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qkulpApp.question.questionText" for="field_questionText">Question Text</label>
                    <input type="text" class="form-control" name="questionText" id="field_questionText"
                           formControlName="questionText"/>
                    <div *ngIf="editForm.get('questionText')!.invalid && (editForm.get('questionText')!.dirty || editForm.get('questionText')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('questionText')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('questionText')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 400 }">
                        This field cannot be longer than 400 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qkulpApp.question.mandatory" for="field_mandatory">Mandatory</label>
                    <input type="checkbox" class="form-control" name="mandatory" id="field_mandatory"
                           formControlName="mandatory"/>
                    <div *ngIf="editForm.get('mandatory')!.invalid && (editForm.get('mandatory')!.dirty || editForm.get('mandatory')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mandatory')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="qkulpApp.question.questionType" for="field_questionType">Question Type</label>
                    <select class="form-control" name="questionType" formControlName="questionType" id="field_questionType">
                        <option value="BOOLEAN">{{ 'qkulpApp.QuestionType.BOOLEAN' | translate }}</option>
                        <option value="SINGLE_CHOICE">{{ 'qkulpApp.QuestionType.SINGLE_CHOICE' | translate }}</option>
                        <option value="MULTIPLE_CHOICE">{{ 'qkulpApp.QuestionType.MULTIPLE_CHOICE' | translate }}</option>
                        <option value="TEXT">{{ 'qkulpApp.QuestionType.TEXT' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('questionType')!.invalid && (editForm.get('questionType')!.dirty || editForm.get('questionType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('questionType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
