<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="question">
            <h2><span jhiTranslate="qkulpApp.question.detail.title">Question</span> {{ question.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="qkulpApp.question.questionName">Question Name</span></dt>
                <dd>
                    <span>{{ question.questionName }}</span>
                </dd>
                <dt><span jhiTranslate="qkulpApp.question.questionText">Question Text</span></dt>
                <dd>
                    <span>{{ question.questionText }}</span>
                </dd>
                <dt><span jhiTranslate="qkulpApp.question.mandatory">Mandatory</span></dt>
                <dd>
                    <span>{{ question.mandatory }}</span>
                </dd>
                <dt><span jhiTranslate="qkulpApp.question.questionType">Question Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'qkulpApp.QuestionType.' + question.questionType }}">{{ question.questionType }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question', question.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
